<ik-modal #blockOutDateDetailModal name="blockOutDateDetailModal">
  <ik-modal-header title="Block Out Date Details" type="info"></ik-modal-header>
  <ng-container *ngIf="!loading; else modalLoader">
    <ik-modal-body>
      <form [formGroup]="form">
        <div class="form-padding">
          <div class="row justify-content-between">
            <div class="col-6">
              <div class="label-header">Start Date</div>
              <input
                type="date"
                class="form-input__shadow input-margin"
                placeholder="Start Date"
                formControlName="startDate"
              />
            </div>

            <div class="col-6">
              <div class="label-header">End Date</div>
              <input
                type="date"
                class="form-input__shadow input-margin"
                placeholder="Start Date"
                formControlName="endDate"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="label-header padding-modal-top">Created By</div>
              <div class="label-body">{{ userCreated | formatUserName }}</div>
            </div>

            <div class="col-6">
              <div class="label-header padding-modal-top">Date Created</div>
              <div class="label-body">
                {{ blockDate?.insertDate | date: "longDate" }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        class="btn btn-danger btn-left btn-modal"
        (click)="onBlockOutDateDelete()"
        *featureAccess="[
          Application.BLOCK_DATES,
          Feature.BLOCK_DATES_OVERVIEW,
          Access.DELETE
        ]"
      >
        Delete
      </button>

      <button
        class="btn btn-primary btn-right btn-modal"
        [disabled]="!form.dirty || form.invalid || loading"
        *featureAccess="[
          Application.BLOCK_DATES,
          Feature.BLOCK_DATES_OVERVIEW,
          Access.UPDATE
        ]"
        (click)="onBlockOutDateUpdate()"
      >
        Update
      </button>
      <button
        class="btn btn-default btn-right btn-modal"
        (click)="blockOutDateDetailModal.close()"
      >
        Close
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<app-delete-block-out-date-modal
  [blockDateId]="blockDate?.id"
  (delete)="onDeleteBlockDateComplete()"
></app-delete-block-out-date-modal>

<ng-template #modalLoader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
