<ng-container *ngIf="!loading; else loadingIcon">
  <form [formGroup]="form">
    <ik-card [padding]="false">
      <div class="form-padding">
        <div>
          <div class="col-xs-6 col-sm-6 vaction-input-padding">
            <div class="label-header">Start Date</div>
          </div>
          <div class="col-xs-6 col-sm-6 vaction-input-padding">
            <div class="label-header">End Date</div>
          </div>
        </div>

        <ng-container *ngFor="let in of [1, 2, 3, 4, 5]">
          <div>
            <div
              class="col-xs-6 col-sm-6"
              [ngClass]="
                in === 1
                  ? 'vaction-input-padding-first'
                  : 'vaction-input-padding-other'
              "
            >
              <input
                type="date"
                class="search inline-block"
                placeholder="Start Date"
                [formControlName]="'startDate' + in"
              />
            </div>
            <div
              class="col-xs-6 col-sm-6"
              [ngClass]="
                in === 1
                  ? 'vaction-input-padding-first'
                  : 'vaction-input-padding-other'
              "
            >
              <input
                type="date"
                class="search inline-block"
                placeholder="End Date"
                [formControlName]="'endDate' + in"
              />
            </div>
          </div>
        </ng-container>
      </div>
    </ik-card>
  </form>
  <button class="btn btn-default btn-size btn-left" (click)="onCancelClick()">
    {{ leftActionButton }}
  </button>
  <button
    class="btn btn-warning btn-size btn-right"
    (click)="onSaveClick()"
    [disabled]="!form.dirty"
  >
    {{ rightActionButton }}
  </button>
</ng-container>

<ng-template #loadingIcon>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
