.label-header {
  font-size: 22px;
  font-weight: 600;
}

.padding-card {
  padding: 100px !important;
}

.form-padding {
  padding: 15px;
}

.vaction-input-padding-first {
  padding-top: 4px;
  padding-bottom: 20px;
}

.vaction-input-padding-other {
  padding-top: 5px;
  padding-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .form-padding {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    width: 99%;
  }
}
