section {
  visibility: hidden;
  opacity: 0;
  z-index: 1050;

  &.open {
    visibility: inherit;
    display: block;
    opacity: 1;
  }

  display: none;

  position: absolute;
  top: -105%;
  right: -6%;
  bottom: -831%;
  width: 112%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in;

  > .ik-modal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;

    border-radius: 8px;

    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
  }
}

.ik-modal-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 12px;
}

.ik-modal-content {
  padding: 10px;
  font-size: 17px;
}

.info {
  background-color: #417cf2;
}

.danger {
  background-color: #ff3648;
}

.warning {
  background-color: #f0ae4c;
}

@media screen and (max-width: 960px) {
  section {
    > .ik-modal {
      top: 12%;
    }
  }
}
