<ik-header title="New User" [backEnabled]="true" (backClick)="onCancelClick()">
</ik-header>

<app-user-form
  *ngIf="!loading; else loader"
  [disableSave]="disableSave"
  rightActionButton="Save User"
  leftActionButton="Cancel"
  (cancel)="onCancelClick()"
  (save)="onSaveClick($event)"
>
</app-user-form>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>

<ik-modal #managerChangeModal name="managerChangeModal">
  <ik-modal-header title="Confirm New Manager" type="warning"></ik-modal-header>
  <ik-modal-body>
    <div>
      There is already a manager of this store. Updating the manager of the
      store will cause the current manager to be demoted to an Assisstant
      Manager. Do you want to continue?
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button
      class="btn btn-warning btn-right modal-button"
      (click)="onManagerConfirm()"
    >
      Confirm
    </button>
    <button
      class="btn btn-default btn-right modal-button"
      (click)="onModalClose()"
    >
      Cancel
    </button>
  </ik-modal-action-bar>
</ik-modal>
