.search {
  border-radius: 10px;
  background: #e9e7e7;
  padding: 15px;
  font-size: 20px;
  width: 100%;
}

.showAll__link {
  font-weight: bold;
  font-size: 15px;
  color: #178bff;
  float: right;
  padding: 10px;
}

.showAll__link:hover {
  color: #57a9fc;
  cursor: pointer;
  text-decoration: none;
}

.grid-table {
  table-layout: fixed;
}

input {
  border-style: hidden;
}

*:focus {
  outline: none;
}

.grid-content {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  text-align: left;
  overflow-wrap: break-word;
}

.column-header {
  font-size: 25px;
  font-weight: 500px;
  text-align: left;
}

.header-padding {
  padding-left: 15px;
}

.content-row:nth-child(even) {
  background-color: #f1e8dc;
}

.content-row:nth-child(odd) {
  background-color: white;
}

.content-row:hover {
  background-color: #ccebff;
}

td {
  text-align: center;
}

thead {
  line-height: 60px;
  border-bottom: 1px solid #d2d4d6;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.item-label-margin {
  margin-bottom: 10px;
  margin-top: 5px;
}

.page-number {
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  margin: 0 2px 5px 2px;
  cursor: pointer;
}

.page-number:hover {
  background-color: #e8e8e8;
}

.active {
  background-color: #81befa;
  pointer-events: none;
}

.grid-footer {
  margin-top: 10px;
}

.left-arrow {
  content: url(../../assets/images/icons/left-arrow-icon-page.png);
  transition: transform 0.2s;
  cursor: pointer;
  width: 30px;
  margin: 2px 5px 0 5px;
}

.left-arrow:hover {
  transform: scale(1.2);
}

.right-arrow {
  content: url(../../assets/images/icons/right-arrow-icon-page.png);
  transition: transform 0.2s;
  cursor: pointer;
  width: 30px;
  margin: 2px 5px 0 5px;
}

.right-arrow:hover {
  transform: scale(1.1);
}

.back-arrow {
  content: url(../../assets/images/icons/back-arrow-icon.png);
  width: 34px;
  height: auto;
  display: inline-block;
  transition: transform 0.2s;
  margin-right: 15px;
  cursor: pointer;
}

.back-arrow:hover {
  transform: scale(1.1);
}

.no-data-margin {
  margin: 25px;
}

.grid-padding {
  padding: 20px;
}

@media screen and (max-width: 570px) {
  .grid-content {
    font-size: 15px;
    padding: 12px 5px 12px 12px;
  }

  .column-header {
    font-size: 15px;
    padding-left: 2px;
  }

  .grid-padding {
    padding: 5px;
  }

  .page-number {
    width: 32px;
    height: 32px;
  }

  .search {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .column-header {
    text-align: center;
  }

  .grid-content {
    text-align: center;
  }
}
