td {
  text-align: center;
}

thead {
  line-height: 60px;
  border-bottom: 1px solid #d2d4d6;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.grid__table {
  table-layout: fixed;
}

.grid__content {
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  padding: 15px 15px;
}

.grid__checklist-column {
  width: 5%;
}

.grid__text-label {
  font-size: 18px;
  margin: 25px;
  float: left;
}

.grid__content-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid__column-header {
  color: black;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.grid__header-padding {
  padding-left: 15px;
}

.grid__content-row:nth-child(even) {
  background-color: #f1e8dc;
}

.grid__content-row:nth-child(odd) {
  background-color: white;
}

.grid__content-row:hover {
  background-color: #ccebff;
}

@media screen and (max-width: 800px) {
  .grid__checklist-column {
    width: 7%;
  }
}

@media screen and (max-width: 770px) {
  .grid__checklist-column {
    width: 9%;
  }

  .grid__column-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 570px) {
  thead {
    line-height: 40px;
  }

  .grid__content {
    font-size: 14px;
    padding: 12px 5px 12px 5px;
  }

  .grid__column-header {
    font-size: 15px;
    padding-left: 5px;
  }
}
