<ik-card [padding]="false">
  <ng-content select="ik-card-header"></ng-content>
  <ng-content select="ik-grid-search"></ng-content>
  <table *ngIf="!loading; else loader" class="grid__table">
    <thead *ngIf="data?.body.length > 0">
      <tr>
        <th
          *ngFor="let column of columns.toArray()"
          class="grid__column-header grid__header-padding"
        >
          <ng-content select="ik-grid-column"></ng-content>
          <strong>{{ column.label }}</strong>
        </th>
      </tr>
    </thead>
    <tr *ngFor="let row of data.body" class="grid__content-row">
      <td
        *ngFor="let col of columns.toArray()"
        class="grid__content"
        [ngClass]="{ 'grid__content-ellipsis': !overflowEnabled }"
        (click)="onRowClick(row)"
      >
        <ng-container *ngIf="isDate(row[col.field]); else notDate">
          {{ row[col.field] | date : "longDate" }}
        </ng-container>
        <ng-template #notDate>
          {{ row[col.field] ? row[col.field] : "-" }}
        </ng-template>
      </td>
    </tr>
  </table>
  <ng-content select="ik-grid-pager"></ng-content>
  <ng-container *ngIf="data?.body.length <= 0 && !loading">
    <label class="grid__text-label">{{ "No" + " " + gridPager.key }}</label>
  </ng-container>
  <ng-content select="ik-grid-show-all"></ng-content>
</ik-card>

<ng-template #loader>
  <ik-loading-indicator
    size="80px"
    thickness="6px"
    backgroundColor="white"
  ></ik-loading-indicator>
</ng-template>
