<ik-header title="Overview">
  <button
    class="btn btn-info btn-size btn-right"
    (click)="onAddStore()"
    *featureAccess="[Feature.STORE_DETAIL, Access.CREATE]"
  >
    Create Store
  </button></ik-header
>

<ik-grid
  [dataLoader]="dataLoader"
  basePath="store"
  (rowClick)="handleClick($event)"
>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Store ID" field="id"></ik-grid-column>
  <ik-grid-column label="Store Name" field="name"></ik-grid-column>
  <ik-grid-pager [pageSize]="10" key="Stores"></ik-grid-pager>
</ik-grid>
