<app-login-container title="Reset Password">
  <div class="row">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <label class="left text-label">New Password*</label>
          <input
            type="text"
            formControlName="newPassword"
            class="form-input__shadow margin-top-none"
            placeholder="New Password"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label class="left text-label">Confirm New Password*</label>
          <input
            type="text"
            formControlName="confirmPassword"
            class="form-input__shadow margin-top-none"
            placeholder="Confirm New Password"
          />
        </div>
      </div>
      <div class="row" *ngIf="!loading; else loadingIcon">
        <div class="col align-self-center">
          <button
            (click)="onResetPassword()"
            class="btn btn-round__swap btn-primary reset-button"
            [disabled]="form.invalid"
          >
            Reset Password
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <p class="link-text">
      Remeber your password?
      <a routerLink="/login">Sign In</a>
    </p>
  </div>
</app-login-container>

<ng-template #loadingIcon>
  <ik-loading-indicator size="30px" thickness="5px"></ik-loading-indicator>
</ng-template>
