.app-text {
  padding: 12px 5px;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.input-margin {
  margin: 0.5em auto;
}

.label-header {
  font-size: 15px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .h-button {
    margin-top: 0;
  }

  .header-buttons {
    display: block;
  }

  .modal-button {
    margin-top: 15px;
  }
}
