<div *ngIf="!loading; else loader">
  <ik-header
    title="{{ userData | formatUserName }}"
    [backEnabled]="true"
    (backClick)="onBackClick()"
  >
    <div class="inline-display header-buttons" *ngIf="canEdit">
      <button
        class="btn btn-default btn-size btn-right h-button"
        (click)="onResetPassword()"
        *featureAccess="[Application.USER, Feature.USER_DETAIL, Access.UPDATE]"
      >
        Reset Password
      </button>
      <button
        class="btn btn-danger btn-size btn-right h-button"
        (click)="deleteModal()"
        *featureAccess="[Application.USER, Feature.USER_DETAIL, Access.DELETE]"
      >
        Delete User
      </button>
    </div>
  </ik-header>
  <div class="leftColumn column-half">
    <ik-card [padding]="false">
      <ik-card-header [title]="userJson.detail.title">
        <ng-container *ngIf="canEdit">
          <ik-icon
            icon="edit"
            *featureAccess="[
              Application.USER,
              Feature.USER_DETAIL,
              Access.UPDATE
            ]"
            (click)="onUserEditClick()"
          ></ik-icon>
        </ng-container>
      </ik-card-header>
      <div class="left-column">
        <ik-card-info
          header="Name"
          text="{{ userData | formatUserName }}"
        ></ik-card-info>
      </div>
      <div class="right-column">
        <ik-card-info
          [header]="userJson.detail.email"
          [text]="userData.email ? userData.email : '-'"
        ></ik-card-info>
      </div>
      <div class="left-column">
        <ik-card-info
          [header]="userJson.detail.storeId"
          [text]="userData.storeId ? userData.storeId : '-'"
        ></ik-card-info>
      </div>
      <div class="right-column">
        <ik-card-info
          [header]="userJson.detail.storeName"
          [text]="userData.storeName ? userData.storeName : '-'"
        ></ik-card-info>
      </div>
      <div class="left-column">
        <ik-card-info
          header="Position"
          [text]="userData.webRole | webRoleTranslate"
        ></ik-card-info>
      </div>
      <div class="right-column">
        <ik-card-info
          [contentColor]="userData.appAccess ? 'text-success' : 'text-danger'"
          header="Access"
          [text]="
            userData.appAccess ? 'Has Access' : 'Does not have App Access'
          "
        ></ik-card-info>
      </div>
      <div class="left-column width-full">
        <ik-card-info
          [header]="userJson.detail.hireDate"
          [text]="userData.hireDate | date: 'mediumDate'"
        >
        </ik-card-info>
      </div>
    </ik-card>
  </div>
  <div class="rightColumn column-half">
    <ik-grid
      title="Vacations"
      noDataText="No Vacations"
      [translationKey]="userJson.vacations"
      [columns]="columns"
      [outputEventColumns]="outputEventColumns"
      [columnsToExclude]="excludedColumns"
      [dataLoader]="vacationData"
      [padding]="false"
      [headerPadding]="true"
      [showAllEnabled]="true"
      [routeUpdateEnabled]="false"
      (gridRowClick)="onRowClick($event)"
      (showAll)="onShowAllClick()"
    >
      <ik-card-header title="Vacations">
        <ng-container *ngIf="canEdit">
          <ik-icon
            icon="plus"
            *featureAccess="[
              Application.USER,
              Feature.USER_VACATION,
              Access.CREATE
            ]"
            (click)="addVacationModal.open()"
          ></ik-icon>
        </ng-container>
      </ik-card-header>
    </ik-grid>
    <ik-card [padding]="false" *ngIf="applications.length > 0">
      <ik-card-header title="Application Access"></ik-card-header>
      <div class="app-text">
        <ul>
          <li *ngFor="let app of applications">{{ app }}</li>
        </ul>
      </div>
    </ik-card>
  </div>
</div>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>

<ik-modal #deleteUserModal name="deleteUserModal">
  <ik-modal-header title="Delete User?" type="danger"></ik-modal-header>
  <ik-modal-body>
    <div>
      Deleting this user will result in their personal info and vacations to be
      deleted. Do you want to continue?
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button
      class="btn btn-danger btn-right modal-button"
      (click)="onDeleteUser()"
    >
      Delete User
    </button>
    <button
      class="btn btn-default btn-right modal-button"
      (click)="deleteUserModal.close()"
    >
      Cancel
    </button>
  </ik-modal-action-bar>
</ik-modal>

<ik-modal #addVacationModal name="addVacationModal">
  <ik-modal-header title="Add Vacation" type="info"></ik-modal-header>
  <ng-container *ngIf="!modalLoading; else loader">
    <ik-modal-body>
      <ik-modal-body>
        <form [formGroup]="form">
          <div class="form-padding">
            <div class="col-xs-6 col-sm-6">
              <div class="label-header">Start Date</div>
              <input
                type="date"
                class="form-input__shadow input-margin"
                placeholder="Start Date"
                formControlName="startDate"
              />
            </div>

            <div class="col-xs-6 col-sm-6">
              <div class="label-header">End Date</div>
              <input
                type="date"
                class="form-input__shadow input-margin"
                placeholder="Start Date"
                formControlName="endDate"
              />
            </div>
          </div>
        </form>
      </ik-modal-body>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        [disabled]="form.invalid"
        class="btn btn-primary btn-right modal-button"
        (click)="onAddVacation()"
      >
        Add Vacation
      </button>
      <button
        class="btn btn-default btn-right modal-button"
        (click)="addVacationModal.close()"
      >
        Cancel
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>
