<div *ngIf="!loading; else loader">
  <ik-header title="{{ userData | formatUserName }}">
    <ik-header-back (back)="onBackClick()"></ik-header-back>
    <div class="inline-display header-buttons" *ngIf="canEdit">
      <button
        class="btn btn-default btn-size btn-right h-button"
        (click)="onResetPassword()"
        *featureAccess="[Application.USER, Feature.USER_DETAIL, Access.UPDATE]"
      >
        Reset Password
      </button>
      <button
        class="btn btn-danger btn-size btn-right h-button"
        (click)="deleteUserModal.modal.open()"
        *featureAccess="[Application.USER, Feature.USER_DETAIL, Access.DELETE]"
      >
        Delete User
      </button>
    </div>
  </ik-header>
  <ik-banner *ngIf="!userData.appAccess" type="warning">
    This user currently does not have access to the website. Contact support
    with any questions!
  </ik-banner>

  <div class="leftColumn column-half">
    <app-user-details-card
      [user]="userData"
      [editEnabled]="canEdit"
      title="Details"
      (editClick)="onUserEditClick()"
    ></app-user-details-card>
  </div>
  <div class="rightColumn column-half">
    <app-user-vacations-card [canEdit]="canEdit"></app-user-vacations-card>
    <app-manager-stores-card
      *ngIf="
        Number(WebRole[userData?.webRole]) >= WebRole.DISTRICT_MANAGER &&
        canEdit
      "
      [managerId]="userData?.id"
    ></app-manager-stores-card>
    <app-user-application-access-card
      [applications]="applications"
      [loading]="loading"
      *webRoleRestrictionAccess="WebRole.SITE_ADMIN"
    ></app-user-application-access-card>
    <app-user-application-access-card
      [applications]="applications"
      [loading]="loading"
      *webRoleRestrictionAccess="WebRole.SITE_ADMIN"
    ></app-user-application-access-card>
    <app-user-application-access-card
      [applications]="applications"
      [loading]="loading"
      *webRoleRestrictionAccess="WebRole.SITE_ADMIN"
    ></app-user-application-access-card>
  </div>
</div>

<app-delete-user-modal [userId]="userData?.id"></app-delete-user-modal>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
