.cancel-link {
  font-size: 2.1rem;
  float: right;
  padding: 10px;
  margin: 9px 5px 8px 5px;
  color: #428bca;
}

.cancel-link:hover {
  color: #78a1c5;
  cursor: pointer;
}

.app-text {
  padding: 12px 5px;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media screen and (max-width: 500px) {
  .h-button {
    margin-top: 0;
  }

  .header-buttons {
    display: block;
  }

  .modal-button {
    margin-top: 15px;
  }
}
