.cancel-link {
  font-size: 2.1rem;
  float: right;
  padding: 10px;
  margin: 9px 5px 8px 5px;
  color: #428bca;
}

.cancel-link:hover {
  color: #78a1c5;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}
