<ik-header title="Overview">
  <button
    class="btn btn-info btn-size btn-right"
    (click)="onAddUser()"
    *featureAccess="[Application.USER, Feature.USER_DETAIL, Access.CREATE]"
  >
    Create User
  </button>
</ik-header>

<ik-grid
  [dataLoader]="dataloader"
  [searchEnabled]="true"
  translationKey="Users"
  (gridRowClick)="handleClick($event)"
  (search)="onSearch($event)"
>
  <ik-grid-column label="First Name" field="firstName"></ik-grid-column>
  <ik-grid-column label="Last Name" field="lastName"></ik-grid-column>
  <ik-grid-column label="Store Id" field="storeId"></ik-grid-column>
  <ik-grid-column label="Store Name" field="storeName"></ik-grid-column>
  <ik-grid-pager></ik-grid-pager>
</ik-grid>
