<ik-header title="Overview">
  <button
    class="btn btn-info btn-size btn-right"
    (click)="onAddUser()"
    *featureAccess="[Application.USER, Feature.USER_DETAIL, Access.CREATE]"
  >
    Create User
  </button>
</ik-header>

<ik-grid
  basePath="user"
  [dataLoader]="dataloader"
  (rowClick)="rowClick($event)"
>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Name" field="formattedName"></ik-grid-column>
  <ik-grid-column label="Position" field="formattedRole"></ik-grid-column>
  <ik-grid-column label="Store Name" field="storeName"></ik-grid-column>
  <ik-grid-pager key="Users"></ik-grid-pager>
</ik-grid>
