<form [formGroup]="form">
  <ik-card [padding]="false" [marginBottom]="false">
    <ik-card-info header="First Name*"
      ><input
        class="form-input__normal"
        placeholder="First Name"
        formControlName="firstName"
      />
    </ik-card-info>

    <ik-card-info header="Last Name*"
      ><input
        class="form-input__normal"
        placeholder="Last Name"
        formControlName="lastName"
      />
    </ik-card-info>

    <ik-card-info header="Email*">
      <input
        class="form-input__normal"
        placeholder="Email"
        formControlName="email"
      />
    </ik-card-info>

    <ng-container *ngIf="!disableRoleUpdate">
      <ik-card-info header="Position">
        <select class="form-input__normal" formControlName="webRole">
          <option *ngFor="let role of roles" [ngValue]="role">{{
            role | webRoleTranslate
          }}</option>
        </select>
      </ik-card-info>

      <ik-card-info header="Store ID*">
        <select
          class="form-input__normal"
          formControlName="storeId"
          *ngIf="!storesLoading; else loadingIcon"
        >
          <option value="" disabled selected hidden>Store ID</option>
          <option *ngFor="let store of stores" [ngValue]="store.id">{{
            store.id
          }}</option>
        </select>
      </ik-card-info>

      <ik-card-info header="Store Name"
        ><input
          class="form-input__normal"
          placeholder="Store Name"
          formControlName="storeName"
          readonly
        />
      </ik-card-info>
    </ng-container>

    <ik-card-info header="Hire Date"
      ><input
        type="date"
        class="form-input__normal"
        placeholder="Hire Date"
        formControlName="hireDate"
      />
    </ik-card-info>
  </ik-card>
</form>
<button class="btn btn-default btn-size btn-left" (click)="onCancelClick()">
  {{ leftActionButton }}
</button>
<button
  class="btn btn-warning btn-size btn-right"
  (click)="onSaveClick()"
  [disabled]="form.invalid || !form.dirty"
>
  {{ rightActionButton }}
</button>
<ng-template #loadingIcon>
  <ik-loading-indicator size="40px" thickness="3px"></ik-loading-indicator>
</ng-template>
