<div
  [@fadeInOut]="'in'"
  *ngFor="let notification of notifications"
  class="notification-card"
  (click)="onNotificationRouteClick()"
>
  <div class="notification-overall">
    <ik-icon class="notification-icon" icon="notification"></ik-icon>
    <div class="notification-content">
      <span class="title">{{ notification.title }}</span>
      <span class="message">{{ notification.message }}</span>
    </div>
    <ik-icon icon="close" (iconClick)="closeNotification()"></ik-icon>
  </div>
</div>
