<ik-modal #vacationModal name="vacationModal">
  <ik-modal-header title="New Vacation?" type="info"></ik-modal-header>
  <ng-container *ngIf="!loading; else modalLoader">
    <ik-modal-body>
      <form [formGroup]="form">
        <div class="row justify-content-between">
          <div class="col-6">
            <div class="label-header">Start Date*</div>
            <input
              type="date"
              class="form-input__shadow input-margin"
              placeholder="Start Date"
              formControlName="startDate"
            />
          </div>

          <div class="col-6">
            <div class="label-header">End Date*</div>
            <input
              type="date"
              class="form-input__shadow input-margin"
              placeholder="Start Date"
              formControlName="endDate"
            />
          </div>
          <div class="col-12 spacer-margin">
            <div class="label-header inline">Reason for Request&nbsp;</div>
            <p class="optional-text">(Optional)</p>
            <textarea
              formControlName="notes"
              rows="4"
              cols="50"
              class="form-input__shadow textarea-margin"
            ></textarea>
          </div>
        </div>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        [disabled]="form.invalid"
        class="btn btn-primary btn-full btn-size btn-modal"
        (click)="onCreateRequest()"
      >
        Request Vacation
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>

<ng-template #modalLoader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
