.app-container {
  margin: 0 auto;
  height: auto;
  width: 85%;
  top: 130px;
  position: relative;
  text-align: left;
  padding-bottom: 50px;
}

.app-text {
  padding: 12px 5px;
  font-size: 20px;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
