.grid-search {
  color: black;
  border-radius: 10px;
  background: #e9e7e7;
  border: 1px solid #e4e9f2;
  padding: 12px;
  font-size: 20px;
  width: 100%;
  margin: 20px 20px 0 20px;
}

.grid-search__icon {
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.grid-search__icon-align {
  position: absolute;
  top: 22px;
  right: 30px;
}

.grid-search__container {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 570px) {
  .grid-search {
    font-size: 15px;
    margin: 15px 5px 0 5px;
  }

  .grid-search__icon-align {
    top: 15px;
    right: 15px;
  }
}
