<div class="forgotPassword-container">
  <div class="col-md-4 text-center company__info">
    <span class="company__logo">
      <a class="logo"></a>
    </span>
    <h4 class="company-title large">Marc's Vacation App</h4>
  </div>
  <ik-card [marginBottom]="false" class="flex-one">
    <div class="row">
      <h2 class="company-title large">Forgot Password</h2>
      <h5 class="small-text">Enter your email address</h5>
      <form [formGroup]="form" class="form-group">
        <div class="row">
          <div class="col-md-12">
            <label class="left">New Password*</label>
            <input
              type="text"
              formControlName="newPassword"
              class="form__input margin-top-none"
              placeholder="New Password"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="left">Confirm New Password*</label>
            <input
              type="text"
              formControlName="confirmPassword"
              class="form__input margin-top-none"
              placeholder="Confirm New Password"
            />
          </div>
        </div>
        <div class="row">
          <input
            *ngIf="!loading; else loadingIcon"
            (click)="onResetPassword()"
            value="Reset Password"
            class="btn"
            [disabled]="form.invalid"
          />
        </div>
      </form>
    </div>
    <div class="row">
      <p>
        Remeber your password?
        <a routerLink="/login/overview">Sign In</a>
      </p>
    </div>
  </ik-card>
</div>

<ng-template #loadingIcon>
  <ik-loading-indicator size="30px" thickness="5px"></ik-loading-indicator>
</ng-template>
