<ik-loading-indicator *ngIf="!storeInfo || !userInfo"></ik-loading-indicator>
<div *ngIf="storeInfo && userInfo">
  <ik-header
    [title]="storeInfo.name + '  (' + storeInfo.id + ')'"
    [backEnabled]="true"
  >
  </ik-header>
  <div class="detail">
    <div class="leftColumn column-wide">
      <ik-card [padding]="false">
        <ik-card-header [title]="storeJson.detail.title"></ik-card-header>
        <div class="left-column">
          <ik-card-info
            header="Store Name"
            [text]="storeInfo.name"
          ></ik-card-info>
          <ik-card-info
            header="Regional"
            [text]="userInfo.firstName + ' ' + userInfo.lastName"
          ></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info header="Store Id" [text]="storeInfo.id"></ik-card-info>
          <ik-card-info header="Manger" text="Fake User"></ik-card-info>
        </div>
      </ik-card>
    </div>
  </div>
</div>
