<div *ngIf="!loading; else loader">
  <ik-header
    [title]="storeInfo.name"
    [backEnabled]="true"
    (backClick)="onBackClick()"
  >
    <button
      class="btn btn-danger btn-size btn-right h-button"
      (click)="deleteStoreModal.modal.open()"
      *featureAccess="[Application.STORE, Feature.STORE_DETAIL, Access.DELETE]"
    >
      Delete Store
    </button>
  </ik-header>

  <ik-banner
    *ngIf="!storeInfo?.regionalId && storeInfo?.managerId"
    type="warning"
  >
    There is currently no regional assigned to this store.
  </ik-banner>

  <ik-banner
    *ngIf="!storeInfo?.managerId && storeInfo?.regionalId"
    type="warning"
  >
    There is currently no store manager assigned to this store.
  </ik-banner>

  <ik-banner
    *ngIf="!storeInfo?.regionalId && !storeInfo?.managerId"
    type="warning"
  >
    There is currently no store manager or regional assigned to this store.
  </ik-banner>

  <div class="detail">
    <div class="leftColumn column-half">
      <app-store-detail-card
        *ngIf="storeInfo"
        [storeId]="storeInfo.id"
      ></app-store-detail-card>
    </div>
    <div class="rightColumn column-half">
      <app-store-user-vacations-card
        *ngIf="storeInfo"
        [storeId]="storeInfo.id"
      ></app-store-user-vacations-card>
    </div>
  </div>
</div>

<app-delete-store-modal [storeId]="storeInfo?.id"></app-delete-store-modal>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
