<div *ngIf="!loading; else loader">
  <ik-header
    [title]="storeInfo.name"
    [backEnabled]="true"
    (backClick)="onBackClick()"
  >
    <button
      class="btn btn-danger btn-size btn-right h-button"
      (click)="deleteStoreModal.modal.open()"
      *featureAccess="[Application.STORE, Feature.STORE_DETAIL, Access.DELETE]"
    >
      Delete Store
    </button>
  </ik-header>

  <ik-banner *ngIf="!regionalInfo && managerInfo" type="warning">
    There is currently no regional assigned to this store.
  </ik-banner>

  <ik-banner *ngIf="!managerInfo && regionalInfo" type="warning">
    There is currently no store manager assigned to this store.
  </ik-banner>

  <ik-banner *ngIf="!regionalInfo && !managerInfo" type="warning">
    There is currently no store manager or regional assigned to this store.
  </ik-banner>

  <div class="detail">
    <div class="leftColumn column-wide">
      <ik-card [padding]="false">
        <ik-card-header title="Details">
          <ik-icon
            icon="edit"
            *featureAccess="[
              Application.USER,
              Feature.USER_DETAIL,
              Access.UPDATE
            ]"
            (click)="onStoreEditClick()"
          ></ik-icon>
        </ik-card-header>
        <div class="left-column">
          <ik-card-info
            header="Store Name"
            [text]="storeInfo.name"
          ></ik-card-info>
          <ik-card-info
            header="Regional"
            [text]="
              regionalInfo
                ? regionalInfo.firstName + ' ' + regionalInfo.lastName
                : '-'
            "
          ></ik-card-info>
        </div>
        <div class="right-column">
          <ik-card-info header="Store Id" [text]="storeInfo.id"></ik-card-info>
          <ik-card-info
            header="Manger"
            [text]="
              managerInfo
                ? managerInfo.firstName + ' ' + managerInfo.lastName
                : '-'
            "
          ></ik-card-info>
        </div>
      </ik-card>
    </div>
  </div>
</div>

<app-delete-store-modal [storeId]="storeInfo?.id"></app-delete-store-modal>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
