<ng-container *ngIf="vacationData; else loader">
  <ik-header
    title="{{ vacationData?.fullName }} ({{ vacationId }})"
    [backEnabled]="true"
    (backClick)="onBackClick()"
  >
    <button
      class="btn btn-danger btn-size btn-right h-button"
      (click)="onOpenDeleteModal()"
    >
      Delete Vacation
    </button>
  </ik-header>
  <ik-banner *ngIf="blockOutDateConflict" type="warning">
    This vacation conflicts with the block out date
    {{ blockOutDateConflict.startDate | date: "longDate" }} -
    {{ blockOutDateConflict.endDate | date: "longDate" }}
  </ik-banner>
  <app-vacation-details-card
    class="leftColumn column-wide"
    [data]="vacationData"
  ></app-vacation-details-card>
  <app-vacation-notes-card
    [data]="vacationData"
    class="rightColumn column-narrow"
  ></app-vacation-notes-card>
</ng-container>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>

<ik-modal #deleteVacationModal name="deleteVacationModal">
  <ik-modal-header title="Delete Vacation?" type="danger"></ik-modal-header>
  <ik-modal-body>
    <div>
      Deleting this vacation will result in them no longer seeing this record.
      Are you sure you want to continue?
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button
      class="btn btn-danger btn-right btn-modal"
      (click)="onDeleteVacation()"
    >
      Delete Vacation
    </button>
    <button
      class="btn btn-default btn-right btn-modal"
      (click)="deleteVacationModal.close()"
    >
      Cancel
    </button>
  </ik-modal-action-bar>
</ik-modal>
