.icon {
  margin: 15px 22px 15px 10px;
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 20%;
  background: linear-gradient(to bottom, #1e90ff 12%, #3399ff 73%);
  &.manager {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/manager-icon.png);
  }
  &.store {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/store-icon.png);
  }
  &.calendar {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/calendar-icon.png);
  }
  &.block {
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/block-icon.png);
  }
  &.map {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/map-icon.png);
  }
  &.report {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/report-icon.png);
  }
  &.request-tracker {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/request-tracker-icon.png);
  }
  &.contact {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/contact-icon.png);
  }
  &.regional {
    padding: 8px;
    content: url(../../projects/insite-kit/src/lib/assets/images/app-icons/regional-icon.png);
  }
}

.left-arrow {
  content: url(../../projects/insite-kit/src/lib/assets/images/icons/left-arrow-icon-page.png);
  transition: transform 0.2s;
  cursor: pointer;
  width: 30px;
  margin: 8px 5px;
}

.left-arrow:hover {
  transform: scale(1.2);
}

.right-arrow {
  content: url(../../projects/insite-kit/src/lib/assets/images/icons/right-arrow-icon-page.png);
  transition: transform 0.2s;
  cursor: pointer;
  width: 30px;
  margin: 8px 5px;
}

.right-arrow:hover {
  transform: scale(1.1);
}

.back-arrow {
  content: url(../../projects/insite-kit/src/lib/assets/images/icons/back-arrow-icon.png);
  width: 34px;
  height: auto;
  display: inline-block;
  transition: transform 0.2s;
  margin-right: 15px;
  cursor: pointer;
}

.back-arrow:hover {
  transform: scale(1.1);
}

.edit-icon {
  content: url(../../projects/insite-kit/src/lib/assets/images/icons/edit-icon.png);
  width: 25px;
  height: 25px;
  margin: 5px;
  float: right;
  cursor: pointer;
}
