.input-margin {
  margin: 0.5em auto;
}

.label-header {
  font-size: 16px;
}

.spacer-margin {
  margin-top: 10px;
}

.textarea-margin {
  resize: none;
  margin: 0.5em 0;
}

.optional-text {
  display: inline;
  margin: 0;
}
