<div *ngIf="user; else loadingIcon">
  <ik-header
    [title]="user.firstName + ' ' + user.lastName"
    [backEnabled]="true"
    (backClick)="onBackClick()"
  >
    <button
      class="btn btn-default btn-size btn-right right-header-button"
      (click)="onResetPassword()"
    >
      Update Password
    </button>
  </ik-header>
  <div class="detail">
    <div class="leftColumn column-wide">
      <app-user-details-card
        [user]="user"
        editEnabled="true"
        title="Personal Info"
        (editClick)="onEditProfile()"
      ></app-user-details-card>
    </div>
    <div class="rightColumn column-narrow">
      <app-user-application-access-card
        [applications]="applications"
      ></app-user-application-access-card>
    </div>
  </div>
</div>

<ng-template #loadingIcon>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
