<nav class="app-navbar">
  <div class="app-logo inline-block" (click)="onLogoClick()">
    {{ titleName }}
  </div>
  <div
    class="profile inline-block"
    *featureAccess="[Application.GLOBAL, Feature.PROFILE, Access.READ]"
    (click)="onProfileClick()"
  ></div>

  <div
    class="bell"
    *featureAccess="[Application.GLOBAL, Feature.NOTIFICATION, Access.READ]"
    (click)="onBellClick()"
  >
    <span class="bell-num" *ngIf="notificationCount > 0">{{
      notificationCount
    }}</span>
  </div>
</nav>
