.edit-icon {
  content: url(../../assets/images/icons/edit-icon.png);
  width: 25px;
  height: 25px;
  margin: 5px;
  float: right;
  cursor: pointer;
}

.plus-icon {
  content: url(../../assets/images/icons/plus-icon.png);
  width: 25px;
  height: 25px;
  margin: 5px;
  float: right;
  cursor: pointer;
}
