<ik-header title="Details" [backEnabled]="true" (backClick)="onBackClick()">
  <div class="inline-display header-buttons">
    <button
      class="btn btn-primary btn-size btn-right h-button"
      (click)="onReviewRequest()"
    >
      Review Request
    </button>
  </div>
</ik-header>

<ng-container *ngIf="notificationData; else loadingIcon">
  <div
    class="leftColumn column-wide"
    *ngIf="activeNotification?.type === NotificationType.VACATION"
  >
    <app-detail-vacation
      [vacationData]="notificationData"
    ></app-detail-vacation>
  </div>

  <div
    class="leftColumn column-wide"
    *ngIf="activeNotification?.type === NotificationType.USER"
  >
    <app-detail-user [userData]="notificationData"></app-detail-user>
  </div>

  <div class="rightColumn column-narrow">
    <ik-card [padding]="false">
      <ik-card-header title="Notification"> </ik-card-header>
      <div class="left-column">
        <ik-card-info
          header="Type"
          [text]="activeNotification?.type ? activeNotification.type : '-'"
        ></ik-card-info>
      </div>
      <div class="right-column">
        <ik-card-info
          header="Link ID"
          [text]="activeNotification?.linkId ? activeNotification.linkId : '-'"
        ></ik-card-info>
      </div>
      <div class="left-column">
        <ik-card-info
          header="Insert Date"
          [text]="
            (activeNotification?.insertDate
              ? activeNotification.insertDate
              : '-'
            ) | date: 'mediumDate'
          "
        ></ik-card-info>
      </div>
    </ik-card>
  </div>
</ng-container>

<ik-modal #requestModal>
  <ik-modal-header title="Approved or Denied?" type="info"></ik-modal-header>
  <ik-modal-body>
    <form [formGroup]="form">
      <div *ngIf="activeNotification?.type === NotificationType.USER">
        Do you wish to Approve or Deny this request?
      </div>
      <div *ngIf="activeNotification?.type === NotificationType.VACATION">
        Do you wish to Approve or Deny this request? You can also add notes in
        the text area below to give a reason why this request was approved,
        denied or created.
      </div>
      <textarea
        *ngIf="activeNotification?.type === NotificationType.VACATION"
        formControlName="notes"
        rows="4"
        cols="50"
        class="form-input__shadow"
        style="resize: none; margin: 15px 0 0 0;"
      ></textarea>
    </form>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button
      class="btn btn-danger btn-left modal-button"
      (click)="onRequestDecision('DENIED')"
    >
      Deny
    </button>
    <button
      class="btn btn-primary btn-right modal-button"
      (click)="onRequestDecision('APPROVED')"
    >
      Approve
    </button>
  </ik-modal-action-bar>
</ik-modal>

<ng-template #loadingIcon>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
