<ik-header title="Update Password" [backEnabled]="true"> </ik-header>
<ng-container *ngIf="!loading; else loadingIcon">
  <form [formGroup]="form" *ngIf="!loading; else loadingIcon">
    <ik-card>
      <ik-card-info header="Current Password*"
        ><input
          class="search"
          placeholder="Current Password"
          formControlName="currentPassword"
        />
      </ik-card-info>

      <ik-card-info header="New Password*"
        ><input
          class="search"
          placeholder="New Password"
          formControlName="newPassword"
        />
      </ik-card-info>

      <ik-card-info header="Confirm New Password*"
        ><input
          class="search"
          placeholder="Confirm New Password"
          formControlName="confirmNewPassword"
        />
      </ik-card-info>
    </ik-card>
  </form>
  <button class="btn btn-default btn-size btn-left" (click)="onCancelClick()">
    Cancel
  </button>
  <button
    class="btn btn-warning btn-size btn-right"
    (click)="onResetClick()"
    [disabled]="form.invalid || !form.dirty"
  >
    Update Password
  </button>
</ng-container>

<ng-template #loadingIcon>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
