<ik-header title="Overview">
  <button
    class="btn btn-info btn-size btn-right"
    (click)="onAddStore()"
    *featureAccess="[Application.STORE, Feature.STORE_DETAIL, Access.CREATE]"
  >
    Create Store
  </button></ik-header
>

<ik-grid
  translationKey="Stores"
  basePath="store"
  storageTag="STORE_OVERVIEW_GRID"
  [dataLoader]="dataLoader"
  [pageSize]="10"
  (rowClick)="handleClick($event)"
>
  <ik-grid-search></ik-grid-search>
  <ik-grid-column label="Store ID" field="id"></ik-grid-column>
  <ik-grid-column label="Store Name" field="name"></ik-grid-column>
  <ik-grid-pager></ik-grid-pager>
</ik-grid>
