<ik-grid
  basePath="requestTracker"
  [dataLoader]="dataLoader"
  [padding]="true"
  [overflowEnabled]="true"
  (rowClick)="handleRowClick($event)"
>
  <ik-grid-column label="Start Date" field="startDate"></ik-grid-column>
  <ik-grid-column label="End Date" field="endDate"></ik-grid-column>
  <ik-grid-column label="Status" field="status"></ik-grid-column>
  <ik-grid-column label="Created" field="insertDate"></ik-grid-column>
  <ik-grid-pager key="Vacations" [visible]="false"></ik-grid-pager>
</ik-grid>
