<!-- <div class="global-app-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <ik-app-navbar appName="Test"></ik-app-navbar>
      </div>
      <div class="col-sm-9 body-content">
        <div style="background-color: red; height: 1500px;">Test Content</div>
      </div>
    </div>
    <div class="row">
      <footer></footer>
    </div>
  </div>
</div> -->
<!-- <div class="main-root">
  <header></header>
  <router-outlet></router-outlet>
  <footer>Test</footer>
</div> -->

<!-- <div class="global-app-background">
  <div id="body"><router-outlet></router-outlet></div>
</div>
<div class="other-image"></div> -->

<div class="global-app-background">
  <div id="content-wrap">
    <router-outlet></router-outlet>
  </div>
</div>
