<ik-header title="Reset Password"
  ><ik-header-back (back)="onBackClick()"></ik-header-back>
</ik-header>
<ng-container *ngIf="!loading; else loadingIcon">
  <form [formGroup]="form" *ngIf="!loading; else loadingIcon">
    <ik-card [marginBottom]="false">
      <ik-card-info header="New Password*"
        ><input
          class="form-input__normal"
          placeholder="New Password"
          formControlName="password"
        />
      </ik-card-info>

      <ik-card-info header="Confirm New Password*"
        ><input
          class="form-input__normal"
          placeholder="Confirm New Password"
          formControlName="confirmPassword"
        />
      </ik-card-info>
    </ik-card>
  </form>
  <button class="btn btn-default btn-size btn-left" (click)="onCancelClick()">
    Cancel
  </button>
  <button
    class="btn btn-warning btn-size btn-right"
    (click)="onResetClick()"
    [disabled]="form.invalid || !form.dirty"
  >
    Reset Password
  </button>
</ng-container>

<ng-template #loadingIcon>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
