<div *ngIf="!loading; else loader">
  <ik-header [title]="store.name"
    ><ik-header-back (back)="onBackClick()"></ik-header-back>
    <button
      class="btn btn-danger btn-size btn-right h-button"
      (click)="deleteStoreModal.modal.open()"
      *featureAccess="[Application.STORE, Feature.STORE_DETAIL, Access.DELETE]"
    >
      Delete Store
    </button>
  </ik-header>

  <ik-banner
    *ngIf="!store?.regionalManagerId && store?.managerId"
    type="warning"
  >
    There is currently no regional manager assigned to this store.
  </ik-banner>

  <ik-banner
    *ngIf="!store?.managerId && store?.regionalManagerId"
    type="warning"
  >
    There is currently no store manager assigned to this store.
  </ik-banner>

  <ik-banner
    *ngIf="!store?.regionalManagerId && !store?.managerId"
    type="warning"
  >
    There is currently no store manager or regional manager assigned to this
    store.
  </ik-banner>

  <div class="detail" *ngIf="store">
    <div class="leftColumn column-half">
      <app-store-detail-card [store]="store"></app-store-detail-card>
    </div>
    <div class="rightColumn column-half">
      <app-store-users-card [store]="store"></app-store-users-card>
      <app-store-user-vacations-card
        [store]="store"
      ></app-store-user-vacations-card>
    </div>
  </div>
</div>

<app-delete-store-modal [storeId]="store?.id"></app-delete-store-modal>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>
