<ik-header title="Edit User">
  <ik-header-back (back)="onCancelClick()"></ik-header-back
></ik-header>
<app-user-form
  *ngIf="userUpdating && !loading; else loader"
  [userData]="userUpdating"
  rightActionButton="Update User"
  leftActionButton="Cancel"
  [disableSave]="disableSave"
  (cancel)="onCancelClick()"
  (save)="onSaveClick($event)"
>
</app-user-form>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>

<ik-modal #managerChangeModal name="managerChangeModal">
  <ik-modal-header title="Confirm New Manager" type="warning"></ik-modal-header>
  <ik-modal-body>
    <div>
      There is already a store manager of this store. Updating the manager of
      the store will cause the current manager to be demoted to an Assisstant
      Manager. Do you want to continue?
    </div>
  </ik-modal-body>
  <ik-modal-action-bar>
    <button
      class="btn btn-warning btn-right btn-modal"
      (click)="onManagerChangeConfirm()"
    >
      Confirm
    </button>
    <button
      class="btn btn-default btn-right btn-modal"
      (click)="managerChangeModal.close()"
    >
      Cancel
    </button>
  </ik-modal-action-bar>
</ik-modal>
