.month-title {
  margin: 18px 0;
  font-weight: bold;
}

.buttons-right {
  text-align: right;
}

.buttons-left {
  text-align: left;
}

.indiv-button-right {
  float: right;
}

.indiv-button-left {
  float: left;
}

.button-width {
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .button-width {
    width: 80px;
  }

  .month-title {
    margin: 10px 0;
  }
}
