<ik-info-card
  textAlign="left"
  titleColor="#178BFF"
  title="Request Wizard"
  titleFont="26px"
  description="User can select a request to submit and to be reviewed. Once the user has selected a request to submit it will show up in the users grid overview to be tracked. The users request will be either denied or approved and the respected actions will be taken."
></ik-info-card>
<div class="row">
  <ik-info-card
    class="col-md-6 col-sm-12"
    title="Vacation"
    description="Request a vacation for a time period. The request will be sent to the proceeding manager to be reviewed."
  ></ik-info-card>
  <ik-info-card
    class="col-md-6 col-sm-12"
    title="Store Move"
    description="Request a store from another regional/district manager to be added to your list. The receiving regional/district manager will either approve or deny the store transfer."
  ></ik-info-card>
</div>
