<ik-header title="Create Schedule">
  <ik-header-back></ik-header-back>
</ik-header>
<ik-card [padding]="false">
  <ik-card-header title="Schedule Details"> </ik-card-header>
  <form [formGroup]="formGroup">
    <div class="row">
      <ik-card-info header="Schedule Name*" class="col-sm-6"
        ><input
          class="form-input__normal"
          placeholder="Schedule Name"
          formControlName="scheduleName"
        />
      </ik-card-info>

      <ik-card-info header="Store*" class="col-sm-6"
        ><input
          class="form-input__normal"
          placeholder="Store"
          formControlName="store"
        />
      </ik-card-info>
    </div>
    <div class="row">
      <ik-card-info header="Start Date*" class="col-sm-6"
        ><input
          type="date"
          class="form-input__normal"
          formControlName="startDate"
        />
      </ik-card-info>

      <ik-card-info header="End Date*" class="col-sm-6"
        ><input
          type="date"
          class="form-input__normal"
          formControlName="endDate"
        />
      </ik-card-info>
    </div>
  </form>
</ik-card>

<ik-card [padding]="false">
  <ik-card-header title="Schedule"> </ik-card-header>
  <mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [hourSegments]="4"
  >
  </mwl-calendar-day-view>
</ik-card>
