<ik-home-navbar></ik-home-navbar>

<div class="app-container">
  <ik-loading-indicator *ngIf="!user"></ik-loading-indicator>
  <div *ngIf="user">
    <ik-header
      [title]="user.firstName + ' ' + user.lastName"
      [backEnabled]="true"
    >
    </ik-header>
    <div class="detail">
      <div class="leftColumn column-wide">
        <ik-card [padding]="false">
          <ik-card-header title="Personal Info"></ik-card-header>
          <div class="left-column">
            <ik-card-info
              header="First Name"
              [text]="user.firstName"
            ></ik-card-info>
            <ik-card-info header="Email" [text]="user.email"></ik-card-info>
          </div>
          <div class="right-column">
            <ik-card-info
              header="Last Name"
              [text]="user.lastName"
            ></ik-card-info>
            <ik-card-info
              header="Web Role"
              [text]="webRole[webRole[user.webRole]]"
            ></ik-card-info>
          </div>
        </ik-card>
      </div>
      <div class="rightColumn column-narrow">
        <ik-card [padding]="false">
          <ik-card-header title="Application Access"></ik-card-header>
          <ik-card-info [text]="applications"></ik-card-info>
        </ik-card>
      </div>
    </div>
  </div>
</div>
