<ng-container *ngIf="user; else loader">
  <ik-header
    title="{{ user | formatUserName }} - Vacations"
    [backEnabled]="true"
    (backClick)="onBackClick()"
  >
  </ik-header>
  <app-request-tracker-grid
    [dataLoader]="dataLoader"
    (rowClick)="onVacationClick($event)"
  ></app-request-tracker-grid>
</ng-container>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>

<app-vacation-modal
  #vacationModalDetails
  [vacationData]="selectedVacation"
></app-vacation-modal>
