<app-login-container title="Forgot Password">
  <div class="row">
    <h5 class="small-text">Enter your email address</h5>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <label class="left text-label">Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-input__shadow margin-top-none"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="row" *ngIf="!loading; else loadingIcon">
        <div class="col align-self-center">
          <button
            (click)="onSendEmail()"
            value="Send Email"
            class="btn btn-round__swap btn-primary forgot-button"
            [disabled]="form.invalid"
          >
            Send Email
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <p class="link-text">
      Remeber your password?
      <a routerLink="/login">Sign In</a>
    </p>
  </div>
</app-login-container>

<ng-template #loadingIcon>
  <ik-loading-indicator size="30px" thickness="5px"></ik-loading-indicator>
</ng-template>
