<ik-card [padding]="false">
  <ik-card-header title="Notes">
    <ik-icon
      icon="edit"
      *featureAccess="[Application.USER, Feature.USER_DETAIL, Access.UPDATE]"
      (click)="notesModal.open()"
    ></ik-icon>
  </ik-card-header>
  <ik-card-info [text]="data?.notes"></ik-card-info>
</ik-card>

<ng-template #loader>
  <ik-loading-indicator></ik-loading-indicator>
</ng-template>

<ik-modal #notesModal name="notesModal">
  <ik-modal-header title="Edit Notes?" type="info"></ik-modal-header>
  <ng-container *ngIf="!notesModalLoading; else loader">
    <ik-modal-body>
      <form [formGroup]="form">
        <div>
          Notes that will be saved under this vacation. Used to help identify
          why they might have taken a vacation or time off for this request.
        </div>
        <textarea
          formControlName="notes"
          rows="4"
          cols="50"
          class="form-input__shadow"
          style="resize: none; margin: 15px 0 0 0;"
        ></textarea>
      </form>
    </ik-modal-body>
    <ik-modal-action-bar>
      <button
        class="btn btn-primary btn-right btn-modal"
        (click)="onSaveNotes()"
      >
        Save Notes
      </button>
      <button
        class="btn btn-danger btn-right btn-modal"
        (click)="notesModal.close()"
      >
        Close
      </button>
    </ik-modal-action-bar>
  </ng-container>
</ik-modal>
